* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #F3F4F6;
}


#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.navbar-offset {
  padding-top: 55px; /* Adjust this value to match your navbar height */
}